@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trabalho de Desenvolvimento de Sistemas</h1>
    <p class="lead">5º Semestre de Sistemas de Informação</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Funcionário e Dependentes</h2>
        <p>
            O Sistema consiste em cadastro de funcionários e dependentes de uma determinada empresa
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Regras de Negócio</h2>
        <p> A Data de nascimento deve ser válida(menor que a data atual)</p>
        <p> Nome é um campo obrigatório</p>
        <p> O Dependente deverá ser menor, ou ter idade igual a 18</p>
        <p> Validação de Cpf de Funcionários e Dependentes</p>

        
    </div>
   
</div>